<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teenet.mapper.IdcPueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.teenet.entity.database.IdcPue">
        <id column="id" property="id"/>
        <result column="denominator_val" property="denominatorVal"/>
        <result column="molecular_val" property="molecularVal"/>
        <result column="current_val" property="currentVal"/>
        <result column="dic_pue_id" property="dicPueId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , denominator_val,molecular_val,current_val,dic_pue_id
    </sql>

</mapper>
